# Environment variables file
.env

# SQLite database file
db.sqlite3

# FAISS index file
index.faiss

# Milvus demo database file
milvus_demo.db

# Virtual environment directory
venv/

# Collected static files
staticfiles/

# Directory for documents
documents/
